                <td>Success</td>
                <td>iDaaS Connect: BlueButton </td>
                <td>BlueButton revision to support updated CMS Interoperability</td>
                <td>Team Revamped existing solution that was code based and put it into Fuse</td>
            </tr>
            <tr>
                <td>Success</td>
                <td>iDaaS Connect: EDI </td>
                <td>Created iDaaS Connect EDI repository and established base needs</td>
                <td>
                    Wanted to ensure we could process EDI data (starting with EDI HIPAA based transactions
                    and growing into EDI Supply Chain) with Fuse. Key aspect for us was to enable EDI data processing and
                    added EDI processing capabilities as part of iDaaS Event Builder
                </td>
            </tr>
            <tr>
                <td>Success</td>
                <td>iDaaS Connect: FHIR </td>
                <td>Enhance the iDaaS Connect: FHIR solution to leverage application properties</td>
                <td>Revamped existing solution to leverage application properties and tested it in Fuse</td>
            </tr>
            <tr>
                <td>Success</td>
                <td>iDaaS Route: Data Distribution</td>
                <td>Enhance the iDaaS Route: Data Distribution solution to leverage application properties</td>
                <td>Revamped existing solution to leverage application properties and tested it in Fuse. Also, took the opportunity to move it to the iDAAS Route brand area.</td>
            </tr>
            <tr>
                <td>Success</td>
                <td>iDaaS Event Builder</td>
                <td>Publish out to open sourceMaven Repsoitory for ease of use</td>
                <td>Created needed artifacts and automated CI/CD to enable support to Maven repository</td>
            </tr>
            <tr>
                <td>Success</td>
                <td>iDaaS Event Builder</td>
                <td>Build out unit test and patterns</td>
                <td>Created references and put first several unit tests in place</td>
            </tr>
            <tr>
                <td>Success</td>
                <td>iDaaS Event Builder</td>
                <td>Revamp structure of solution based on implementation feedback</td>
                <td>Made clear structure for POJOs, Builders, Generators and beyond. This positions us well for future growth and enhancements being asked for.</td>
            </tr>
            <tr>
                <td>Success</td>
                <td>iDaaS DataHub</td>
                <td>Requested to make iDAAS DataHub audit transactions as JSON objects</td>
                <td>
                    We worked and specifically designed a scalable way to process ALL the Kafka headers data that have audit data in a consistent manner as JSON objects. This will
                    enable organizations to determine where best to process these.
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
@*2020-11*@
<div class="text-center">
    <h4 class="display-6">2020: November Roadmap</h4>
    <p align="left">
    <div align="left">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Achievement Level</th>
                <th scope="col">iDaaS Area</th>
                <th scope="col">Roadmap Desc.</th>
                <th scope="col">Notes and Details</th>
            </tr>
            </thead>
            <tbody>
            @*Row of Details*@
            <tr>
                <td>Success</td>
                <td>DataSynthesis </td>
                <td>Simplifying Repositories and Implementation Mechanisms</td>
                <td>
                    Split repositories based on need and implementation. We re-aligned ALL the 40B data attributes into MySQL and put the load scripts
                    into place. This foundation allows us to grow this effort moving forward.
                </td>
            </tr>
            <tr>
                <td>Success</td>
                <td>DataSynthesis </td>
                <td>Move code base to Quarkus</td>
                <td>
                    We wanted to implement the small Java code base into Quarkus. We also enhanced it and delivered a series of APIs built on Quarkus as well.
                </td>
            </tr>
            <tr>
                <td>Success</td>
                <td>iDaaS Connect </td>
                <td>Build Demo Repositories to benefit implementation and limit implementation rework</td>
                <td>
                    We started working through all the iDaaS Connect repositories and built out specific Demo-iDaaS-Connect repositories. Each
                    of the demo repsoitories is focused around showcasing a limited subset of capabilities.
                </td>
            </tr>
            <tr>
                <td>Success</td>
                <td>iDaaS Event Builder</td>
                <td>Publish out to open sourceMaven Repsoitory for ease of use</td>
                <td>Created needed artifacts and automated CI/CD to enable support to Maven repository</td>
            </tr>
            <tr>
                <td>Success</td>
                <td>iDaaS Event Builder</td>
                <td>Enable EDI HIPAA data processing</td>
                <td>Implemented needed POJOs, parsers and builders to support ALL EDI 5010 transactions.</td>
            </tr>
            <tr>
                <td>Success</td>
                <td>iDaaS Event Builder</td>
                <td>Enable FHIR Resources to be built</td>
                <td>We put in place a set of common POJOs to enable common and consistent ways to build FHIR resources to simplify development and delivery.</td>
            </tr>
            <tr>
                <td>Success</td>
                <td>iDaaS DREAM: Intelligent Data Router</td>
                <td>Resolve odd behavior and several inconsistent building isssues</td>
                <td>
                    We redeveloped the solution and were able to resolve all the issues and also enable dynamic routing within business rules.
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
@*2020-12*@
<div class="text-center">
    <h4 class="display-6">2020: December Roadmap</h4>
    <p align="left">
    <div align="left">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Achievement Level</th>
                <th scope="col">iDaaS Area</th>
                <th scope="col">Roadmap Desc.</th>
                <th scope="col">Notes and Details</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Success</td>
                <td>iDaaS Connect - HL7 </td>
                <td>Build out for Open iDaaS</td>
                <td>
                    Build for Open-iDaaS. This will be the basis for how we leverage all existing iDaaS-Connect platform components
                </td>
            </tr>
            <tr>
                <td>Success</td>
                <td>iDaaS DataHub </td>
                <td>Build out auditing data from Kafka into an RDBMS</td>
                <td>
                    Beyond providing the ability to have JSON objects for auditing we also had requests to have a basic RDBMS means to process the data for implementations.
                </td>
            </tr>
            <tr>
                <td>Success</td>
                <td>iDaaS Event Builder </td>
                <td>HIDN - Health Infomration Data Network Processing Capabilities</td>
                <td>
                    Add needed POJO, message parsers and builders into components and redeploy. This is a capability to enable nodes of iDaaS to
                    move data between nodes internal.
                </td>
            </tr>
            <tr>
                <td>Success</td>
                <td>iDaaS Event Builder </td>
                <td>Cares ACT 18115 Processing Capabilities</td>
                <td>
                    Add needed POJO, message parsers and builders into components and redeploy. This enables iDaas to transactionally support the
                    CDC Cares Act 18115 transaction specification.
                </td>
            </tr>
            <tr>
                <td>Success</td>
                <td>iDaaS Connect - Third Party</td>
                <td>Demonstration of ETL Processing</td>
                <td>
                    Focus on building real world ETL based samples of processing data from files to topics and then into RDBMS technologies.
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
@*2021-01*@
<div class="text-center">
    <h4 class="display-6">2021: January Roadmap</h4>
    <p align="left">
    <div align="left">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Achievement Level</th>
                <th scope="col">iDaaS Area</th>
                <th scope="col">Roadmap Desc.</th>
                <th scope="col">Notes and Details</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>In Progress</td>
                <td>iDaaS Event Builder </td>
                <td>ePrescribe Processing Capabilities</td>
                <td>
                    Add needed POJO, message parsers and builders into components and redeploy.
                </td>
            </tr>
            <tr>
                <td>In Progress</td>
                <td>iDaaS Event Builder </td>
                <td>EDI Base Processing Capabilities</td>
                <td>
                    Add needed POJO, message parsers and builders into components and redeploy.
                </td>
            </tr>
            <tr>
                <td>In Progress</td>
                <td>iDaaS Connect </td>
                <td>Build and Revamp Demos for each iDaaS Connect component</td>
                <td>
                    We need to evaluate the existing demos of iDaaS Connect components and revamp those that need to be updated.
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
@*2021-01*@
<div class="text-center">
    <h4 class="display-6">2021: February Roadmap</h4>
    <p align="left">
    <div align="left">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Achievement Level</th>
                <th scope="col">iDaaS Area</th>
                <th scope="col">Roadmap Desc.</th>
                <th scope="col">Notes and Details</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>In Planning</td>
                <td>iDaaS Connect </td>
                <td>Build out Hybrid Cloud demos</td>
                <td>
                    Showcase connectivity from on-premise to cloud providers.
                </td>
            </tr>
            <tr>
                <td>In Progress</td>
                <td>DataSynthesis </td>
                <td>Start to build out automated datageneration within Quarkus</td>
                <td>
                    We have an existing code base and are working to create all the equivalent feature capabilities leveraging Quarkus.
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>