@{
    ViewData["Title"] = "iDaaS Background";
}
<div class="text-center">
    <h1 class="display-6">Background</h1>
    <p>
        <div align="left">
            For decades across the various markets within healthcare (clinical, financial, pharmacy and life sciences) integration has been a challenge for many different reasons.
            Within Red Hat there is a specific industry team dedicated to ensuring Red Hat's technologies meet the industry needs and ensuring its customers have meaningful platforms that
            demonstrate these capabilities, the Red Hat healthcare team. The focus of the team is enabling and empowering healthcare organizations to transform their organizations through
            infusing Red Hat's open organization, open source mindset and community based culture. As the Red Hat healthcare team started this journey they also wanted to ensure they could
            help showcase how Red Hat addressed the many variant and expansive needs of a healthcare organization.
            <br /><br/>
            At a solution/reference architecture or industry design pattern level there should be an effort to ensure there are a set of specific differentiators no matter for whatever
            would be built:
            <br />
        </div>
    </p>
    <p align="left">
        <div align="left">
            <ul>
                <li>Extensibility</li>
                <li>Reduce Proprietary Knowledge</li>
                <li>Open Source Enablement</li>
                <li>Modern Application Development/Delivery Capabilities</li>
                <li>Reduce Proprietary Skill Set(s)</li>
                <li>Innovative Disruption</li>
                <li>Deliver Consistency</li>
                <li>Polyglot Language Support</li>
            </ul>
        </div>
    </p>
    <p>
        <div align="left">
            Here's how the differentiators are expressed in more detail:
            <br /><br/>
            
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Capability</th>
                    <th scope="col">Capability Description</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Extensibility</td>
                        <td>
                            The focus has been on building an extensible platform based on need and usage. The platform is just a series of components that can be
                            connected, extended or new components developed as developers and business teams work together. Within the platform it is developed to
                            enable small to large and complex healthcare organizations to leverage this platform. The platform looks at ANY data as by the application,
                            components, facilities, and overall organization associated with EVERY transaction.
                        </td>
                    </tr>
                    <tr>
                        <td>Reduce Proprietary Knowledge</td>
                        <td>
                            We have removed COTS or black box box software and gone with a very open approach. Our approach leverages the numerous Open Source
                            and upstream Open Source products Red Hat is engaged in. Here are several of the technologies this platform leverages: Spring Boot, Red Hat Fuse,
                            Red Hat Process Automation Manager (Business Rules, Workflow and Complex Event Processing), Red Hat A-MQ Streams (Kafka) .
                        </td>
                    </tr>
                    <tr>
                        <td>Open Source Enablement</td>
                        <td>
                            Provide the source code of the components to extend as needed.
                        </td>
                    </tr>
                    <tr>
                        <td>Modern Application Development/Delivery Capabilities</td>
                        <td>
                            Where applicable everything is cloud native/container focused. Several of the platform components are based on SpringBoot for easy of deployment and running.
                        </td>
                    </tr>
                <tr>
                    <td>Reduce Proprietary Skill Sets</td>
                    <td>
                        Removing COTS centric skill sets. This platform is about enabling industry best technologies to enable healthcare to build capabilities rapidly.
                    </td>
                </tr>
                <tr>
                    <td>Disruption</td>
                    <td>
                        This platform is absolutely designed to enable disruption and enable innovation at the speed of business and technologists.
                    </td>
                </tr>
                <tr>
                    <td>Deliver Consistency</td>
                    <td>
                        Focus around industry standard design and integration patterns. We don't require deep knowledge of the industry standards to get started, just common developer skillsets.
                    </td>
                </tr>
                <tr>
                    <td>Polyglot Language Support</td>
                    <td>
                        Enabling the use of many different programming languages. The focus here is to ensure by major capability area a programming language is supported.
                    </td>
                </tr>
                </tbody>
                </table>

            <br/><br/>
            As discussed in the introduction integration has been a challenge for decades in each market within healthcare. Within healthcare the challenges have been driven by many different factors, 
            here are just a few common ones: industry standards (HL7) that aren't constrained enough, Clinical and financial software vendor market constraints, COTS integration vendor lock-in, and government
            mandates that they cannot directly support without third party vendor engagement.
        </div>
    </p>
</div>
