@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Connected Health / iDaaS  Implementations Page";
}

<div class="text-center">
    <h4 class="display-6">Connected Health / iDaaS (Intelligent Data as A Service) Implementations</h4>
    <br />
    <p>
        iDaaS is enabling organizations to make data a product and build assets on top of it. Because <b>"Data is the asset!!!"</b>
        iDaaS is about enabling information for knowledge that can be used for action
        in a secure and scalable manner. Along with helping organizations it is also being used and adopted by numerous system integrators .
        Since doing our first release in May of 2020 we have seen so appreciate of those customers and systems integrators that have
        implemented their solution or solutions powered with iDaaS.

        <br /><br />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                <img class="img-responsive" src="~/img/vendors/parkarconsulting.png" height="100" width="200" alt="">
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                <img class="img-responsive" src="~/img/vendors/perficient.png" height="100" width="200" alt="">
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                <img class="img-responsive" src="~/img/vendors/teksystems-logo.jpg" height="100" width="200" alt="">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                <img class="img-responsive" src="~/img/vendors/MOBIA.png" height="100" width="200" alt="">
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                <img class="img-responsive" src="~/img/vendors/perspecta_logo.png" height="100" width="200" alt="">
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                <img class="img-responsive" src="~/img/vendors/redhat_logo.png" height="100" width="200" alt="">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                <img class="img-responsive" src="~/img/vendors/blueprism.png" height="100" width="200" alt="">
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                <img class="img-responsive" src="~/img/vendors/prolifics.png" height="100" width="200" alt="">
            </div>
        </div>
    </p>
</div>
    <br /><br />
    <p>We will continue to maintain this page as we are actively working with numerous payers and providers actively on iDaaS implementations.</p>
