@{
    ViewData["Title"] = "Connected Health / iDaaS Home Page";
}

<div class="text-center">
    <h4 class="display-6">Introduction</h4>
    <div class="container">
        <div class="row">
            <div class="col">
                <br>
                <br>
                <br>
                <img src="~/img/platform/iDAAS-Web-WordCloud.png" width="450" height="300"/>
            </div>
            <div class="col" align="left">
                For far too long healthcare has struggled with being able to address the basic task of accessing information
                quickly to help drive business decisions and capabilities. The typical focus has been around the software
                providers enabling access to data via their technology or canned reports. However, there is a growing
                business and technology requirements and need in near real-time for data access. For most types of organizations
                integration is considered a very frustrating and sunk cost needed for business purposes. However, over the last
                decade based on the current landscape involving increasing mandates at varying levels (Federal, State,
                Province, etc.) or changes in funding or contractual obligations. Because of these transformational
                changes whether you are in the administrative, clinical, financial, or life sciences areas of healthcare
                information can no longer be the struggle that it has been, more than ever it is now and integral part of
                the healthcare business.
            </div>
        </div>
    </div>
    <p>
    <div align="left">
        <br>
        As part of our effort, we wanted to ensure a focus around bringing the best capabilities to bear with the
        leading open-source platforms available. We believe it is time for data to be viewed as the asset and THE
        innovation enabler and driver. Now is the time for Connected Health and iDaas (Intelligent Data as a Service).
        Connected Health / iDaaS was born in January 2020. It was designed as a means to help showcase how Red Hat's culture and
        technologies can enable healthcare and solve real world problems. iDaaS can be viewed as many things due to all the
        capabilities it enables. Most importantly for us iDaaS is all about introducing innovation through
        reusable frameworks, design patterns and implementations that will enable organizations to quickly
        start driving value with information. iDaaS is about enabling organizations to make data a product and
        build assets on top of it. Because <b>"Data is the asset!!!"</b> iDaaS is about enabling
        information for knowledge that can be used for action in a secure and scalable manner. iDaaS is a powerful
        set of healthcare industry design pattern/framework that is a blueprint for connecting, processing and
        leveraging clinical, financial, life sciences, and other needed data at scale to
        build solutions for today and tomorrow in a consistent manner. The ONLY limitation is your
        imagination and connecting to the data!!!!
        <br/>
    </div>
</div>
<div class="text-center">
    <h4 class="display-6">Open Source Based Mindset</h4>
    <p>
        <div align="left">
            Red Hat business is built around pulling from upstream communities and making technologies more
            enterprise capable and secure while wrapping additional offerings around them. Our intent is, and will
            always remain, to enable healthcare to build, extend and deliver platforms while
            showcasing open-source in healthcare. Our path to do this has been different though. Since we already had
            very leading, popular and common upstream projects/communities such as Apache Camel, Drools, Drools Fusion,
            Apache Kafka/Strimzi, Kubeflow, Kubernetes/K8s and several others that are already built into very well
            used sunscription based offerings at Red Hat. Because of this our focus was on ensuring we could
            deliver reusable design patterns and frameworks (as expressed above) within Red Hat Technologies first.
            From Februry trough November 2020 we stayed focused and not only met this objective but also helpd numerous
            partners stand up platforms built atop this offering. In November 2020 we started planning to build out the vast
            amount of iDaaS capabilities as an upstream community itself
            <a href="https://github.com/Open-iDaaS" target="_blank">Open-IDaaS</a>. As we surveyed the healthcare community
            we believe this is the right move for this effort long term. Also, by doing this we are already starting to
            plan on other needed industry capabilities to help drive change. This will help us better support the halthcare
            industry and enable greater capabilities to be developed. As we start this shift here is a visual that shows
            how to think about this.
            <br><br>
            <div align="center">
                <img src="~/img/platform/iDAASPlatform-Visuals-iDAASUpstream.png" width="850" height="650"/>
            </div>
            <br><br>
            We are so excited about the possibilities and potential. With all
            this being said, <b>it was important for our code to be completely open and available with Apache 2 License!!</b>
            <br/> <br/>
            We are sure you have doubts and questions like:<br/>
            <li>
                I already have an integration engine or enterprise application integration platform? You should not replace an existing integration engine or EAI platform,
                that would take time with lots of coordination. We would argue it is working for the masses then you should keep it in place. Do you view that platform as
                strategic or innovative though? Probably not, but it can provide access to existing information for business efforts though. Why not use it for what is good
                at and build innovation atop it. You can also enable innovation at an enterprise, organization or team level with this model without sacrificing security.
            </li>
            <li>
                I have heard all of this before and I am still not seeing any industry progress? The industry is evolving and changing. Digital in healthcare, along with
                several other factors, is causing the entire way healthcare data to not only be re-imagined but re-evaluated. This is forcing various changes including
                new and more modern integration standards.<br/>
            </li>
            <li>
                Why would you do this? Its time to help lead and drive change.
                Has anyone run the risk and put their code and all their work out there for the masses to leverage in this manner? The upstream open source projects
                At our core our culture is all about open source and an open-source mindset. Because of this we decided to follow those practices for everything for
                this effort. We also have and will continue to publish onto Git Hub through our organization.
            </li>
            <br>
            Our culture is all about open source and open source mindset because of this we decided to follow those practices for everything for this effort.
            All the assets are published onto Git Hub through our <a href="https://github.com/RedHat-Healthcare/" target="_blank"> organization</a>. Our intent is to build
            and enable healthcare platforms and enable an open source healthcare community. As part of this community we wanted to provide our expectations on how we expect
            those to behave that join the <a href="/home/CodeOfConduct" target="_blank">community</a>.
            All code is available with Apache 2 License!! We also have enabled a chat area for anyone to access
            <a href="https://redhathealthcare.zulipchat.com" target="_blank">at</a>.
            <br/>
            Happy coding!!!!
            <br/>
        </div>
    </p>
</div>

<div class="text-center">
    <h4 class="display-6">Design Principals</h4>
    <p>
        <div align="left">
            For decades across the various markets within healthcare (clinical, financial, pharmacy and life sciences) integration has
            been a recurent and painful challenge for many organizations and across the healthcare industry in general. Within Red Hat there
            is a specific industry team dedicated to ensuring Red Hat's technologies meet the industry needs and ensuring its customers
            have meaningful platforms that demonstrate these capabilities, the Red Hat healthcare team. The focus of the team is enabling and
            empowering healthcare organizations to transform their organizations through infusing Red Hat's open organization, open source
            mindset and community based culture. As the Red Hat healthcare team started this journey they also wanted to ensure they could
            help showcase how Red Hat addressed the many variant and expansive needs of a healthcare organization.
            <br/><br/>
            We wanted to ensure there is a set of specific differentiators no matter for whatever would be build and maintain:
            <br/>
        </div>
    </p>
    <p align="left">
        <div align="left">
            <ul>
                <li>Extensibility</li>
                <li>Scalability</li>
                <li>Reduce Proprietary Technology, Knowledge and/or Skillsets</li>
                <li>Open Source Enablement</li>
                <li>Modern Application Development/Delivery Capabilities</li>
                <li>Innovative Disruption without chaos</li>
                <li>Deliver Consistency</li>
                <li>Polyglot Language Support</li>
            </ul>
        </div>
    </p>
    <p>
        <div align="left">
            Here's how the differentiators are expressed in more detail:
            <br/><br/>

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Capability</th>
                    <th scope="col">Capability Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Extensibility</td>
                    <td>
                        The focus has been on building an extensible platform based on need and usage. The platform is just a series of components that
                        are designed for purpose and can be connected, extended or new components developed as developers and business teams work together.
                        Within the platform it is developed tocenable small to large and complex healthcare organizations to leverage this platform.
                    </td>
                </tr>
                <tr>
                    <td>Scalability</td>
                    <td>
                        Ability to scale based on the data demands placed on the platform.
                    </td>
                </tr>
                <tr>
                    <td>Reduce Proprietary Technology, Knowledge and/or Skillsets</td>
                    <td>
                        We have removed COTS or black box box software and have gone with a very open approach. Our approach leverages the numerous leading
                        Open Source products Red Hat is engaged in. Here are several of the technologies this platform leverages: Spring Boot,
                        Red Hat Fuse, Red Hat Process Automation Manager (Business Rules, Workflow and Complex Event Processing), Red Hat A-MQ Streams (Kafka).
                        These technologies are used across a wide variety of teams today across many industries.
                    </td>
                </tr>
                <tr>
                    <td>Open Source Enablement</td>
                    <td>
                        Provide the source code of the components to extend as needed. What other organization puts all its source code pubicly available? Red Hat,
                        that's who... Beyond the code think about open source related to data. Data comes from an upstream system (as does source code), iDaaS helps
                        organizations with many capabilities improve that data for business need, then we provide it back to other systems for their business needs.
                    </td>
                </tr>
                <tr>
                    <td>Modern Application Development/Delivery Capabilities</td>
                    <td>
                        Where applicable everything is cloud native/container focused. Several of the platform components are based on SpringBoot for easy of
                        deployment and running.
                    </td>
                </tr>
                <tr>
                    <td>Innovative Disruption Without Chaos</td>
                    <td>
                        This platform is absolutely designed to enable disruption and enable innovation at the speed of business and technologists. It is also designed to reduce
                        chaos and numerous negative potential side effects of innovation.
                    </td>
                </tr>
                <tr>
                    <td>Deliver Consistency</td>
                    <td>
                        Focus around industry standard design(s), practices and integration and development patterns. We don't require deep knowledge of the industry
                        standards to get started, just common developer skillsets.
                    </td>
                </tr>
                <tr>
                    <td>Polyglot Language Support</td>
                    <td>
                        Enabling the use of many different programming languages. The focus here is to ensure by major capability area a programming language is supported.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </p>
</div>