<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connected Health / iDaaS (Intelligent Data As A Service) - Build/Release</title>
</head>
<body>

    <br />
    <div class="text-center">
        <h1 class="display-6">Build and Release</h1>
        <br />
        <p>
            iDaaS is a series of components so building it is a simple step, running it involves configuring several iDaaS components and running them together. Within each iDaaS component there is an implementation/running specific set of instructions. Since the platform leverages Maven the commands are very well published and known.
            Building
        </p>

        <br />
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Capability</th>
                        <th scope="col">Capability Steps</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Building </td>
                        <td>
                            To build you will need to go to the main directory after cloning, or pulling the respective repositories, and run the following command where the pom.xml file is 
                            located (or configure an IDE): <br/>
                            mvn clean build
                        </td>
                    </tr>
                <tr>
                    <td>Running </td>
                    <td>
                        mvn package <br/>

                        It will create a jar with the version defined in the pom.xml file within the /target directory. from the /target directory you can run the component by running: java -jar jarfilename.jar
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
</body>
</html>