@{
    ViewData["Title"] = "Connected Health / iDaaS - Common Questions and Answers";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connected Health / iDaaS (Intelligent Data As A Service) - Common Questions and Answers</title>
</head>
<body>
    @*<nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
          </ol>
        </nav>*@
    <div class="text-center">
        <h4 class="display-6">Connected Health / iDaaS (Intelligent Data as A Service) - Common Questions and Answers</h4>
        <br />
        <p>
            <div align="left">
                There is so much material to digest and so many areas where people have questions. So we wanted to try and put together an
                area for questions and answers.
                <br />
            </div>
        </p>
    </div>
    <div class="text-center">
        <h4 class="display-6">Connected Health / iDaaS (Intelligent Data as A Service) - Platform Questions</h4>
        <p>
            <div align="left">
            </div>
        </p>
    </div>
    <div align="left">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Question</th>
                    <th scope="col">Answer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Is iDaaS a Red Hat product offering</td>
                    <td>
                        No. We describe iDaaS as many things like reference architecture, design pattern,  accelerator or platform. iDaaS is built atop Red Hat's technologies and is
                        intended to be a value add. Because of the way iDaaS is designed, implemented, and maintained existing training and support agreements can be leveraged.
                    </td>
                </tr>
                <tr>
                    <td>Why are there so many "components"</td>
                    <td>
                        As we discussed in the main introduction when we started we want to focus on extensibility. While we could implement everything in ONE single application that
                        would not be effective or help us showcase the tremendous flexbility this design offers for processing data at scale.
                    </td>
                </tr>
                <tr>
                    <td>Does this component architecture container based</td>
                    <td>
                        the iDaaS platform is cloud native built from the ground up. However, MLLP (HL7) itself at the protocol level because it is client-server socket based is not
                        cloud native enabled. Typical implementation is to implement iDaaS-Connect-HL7 on a small server or VM. We have seen a VM with 4vpus and 16GB of RAM process
                        tens of throusands of messages sustained over many hours.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <h4 class="display-6">Connected Health / iDaaS (Intelligent Data as A Service) - HL7 Integrattion Questions</h4>
        <p>
            <div align="left">
            </div>
        </p>
    </div>
    <br />

    <div align="left">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Question</th>
                    <th scope="col">Answer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>What  vendors does this platform component support?</td>
                    <td>
                        This iDaaS Connect accelerator does not have any specific vendor requirements or limitations. It has been tested with Cerner, Epic, Meditech and
                        several other EHR/EMR platforms.
                    </td>
                </tr>
                <tr>
                    <td>What  messages does this platform component support?</td>
                    <td>
                        This iDaaS Connect accelerator specifically and ONLY supports the clinical integration standards of HL7.  From an integration connectivity and standards
                        perspective it has HL7 MLLP Servers that support the following types from any vendor and any specific message   version from 2.1 to 2.8: ADT (Admissions),
                        ORM (Orders), ORU (Results), SCH (Schedules), PHA (Pharmacy), MFN (Master File Notifications),
                        MDM (Medical Document Management) and VXU (Vaccinations).  This accelerator apart from handling the needed specific connectivity also does a
                        minimal initial routing of data and has complete auditing integrated.
                    </td>
                </tr>
                <tr>
                    <td>Does this component architecture container based</td>
                    <td>
                        the iDaaS platform is cloud native built from the ground up. However, MLLP (HL7) itself at the protocol level because it is client-server socket based is not
                        cloud native enabled. Typical implementation is to implement iDaaS-Connect-HL7 on a small server or VM. We have seen a VM with 4vpus and 16GB of RAM process
                        tens of throusands of messages sustained over many hours.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <h4 class="display-6">Connected Health / iDaaS (Intelligent Data as A Service) - FHIR Questions</h4>
        <p>
            <div align="left">
            </div>
        </p>
    </div>
    <br />

    <div align="left">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Question</th>
                    <th scope="col">Answer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>I was unaware Red Hat had a FHIR Server </td>
                    <td>
                        Red Hat does not have its own FHIR server. When we wanted to focus on assisting organizations meet and exceed the CMS Interoperability Final Rule we did
                        not want to align and continue forcing vendor lock in. Our iDaaS Connect FHIR accelerator has been, and will continue to work with multiple FHIR servers. To date
                        It has been tested and  works with several FHIR servers: HAPI JPA Server, Microsoft Azure FHIR Server and IBM FHIR Server. In order to assist in implementation these settings
                        are all configurable so you can also change as your business needs evolve. In addition to this support it natively has enabled support for over 80+ FHIR resources that DO NOT
                        need a FHIR server for processing. Apart from handling the needed specific FHIR resource connectivity it also has a detailed auditing platform enabled that tracks ALL
                        data sent to the platform and any responses the platform receives.
                    </td>
                </tr>
                <tr>
                    <td>FHIR Resource processing </td>
                    <td>
                        This iDaaS Connect accelerator specifically and ONLY  supports ALL FHIR resources.  From an integration perspective it enables processing of
                        over 80+ specific <a href="https://www.hl7.org/fhir/STU3/resourcelist.html" target="_blank">FHIR resources</a> that span base, clinical, financial (all),
                        specialized (all but testing). Another benefit of this platform is that you DO NOT require a FHIR server for this be leveraged. As mentioned above te platform has auditing
                        enabled for any data interactions it is involved with.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</body>
</html>