@{
    ViewData["Title"] = "Connected Health / iDaaS End User Setup";
}

<div class="text-center">
    <h4 class="display-6">Getting Up and Running</h4>
    <p>
    <div align="left">
        As we worked to establish iDaaS we wanted to ensure that we could enable complex platforms and systems to
        be extended, developed and delivered. It is very important to keep the end user development
        experience as simple as possible, our focus is to enable developers to be running in minutes. We have had
        developers leverage Macs, Windows (Server and Desktop) OS, Red Hat Enterprise Linux and Ubuntu for development
        platforms. We work to support all these technologies and deliver needed scripts (where possible) to try and assist.
    </div>
</div>
<br>
<div class="text-center">
    <h4 class="display-6">Pre-Requisites</h4>
    <p>
    <div align="left">
        These Pre-Requsites are intended to provide the core details of what is needed on any development machine
        irrespective of OS. As you read these they are the tooling we have gone with due to several reasons, if you wish to use
        different technologies feel free to add those capabilities in, thats's the power of Open Source, we also anticipate adding more
        technologies as we continue to progress.<br/>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Technology</th>
                <th scope="col">Purpose and Details</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Maven 3.6.x</td>
                <td>
                    Maven is a repository framework where vendors can place their libraries in a public site. iDaaS leverages this to
                    pull needed upstream files and even has some of their open-iDaaS already in the Maven repository ecosystem.
                    <br>
                    <a href=" https://maven.apache.org/install.html" target=_blank>Maven Site and Installation Link</a>
                </td>
            </tr>
            <tr>
                <td>MySQL 8 - Optional</td>
                <td>
                    While we list this in required we have also put in the word optional. If you want to persist data from the auditing
                    components we have developed than we have focused on implementing it with lon standing open source RDBMs technology.
                    However, if you dont want to output the auditing data to an RDBMS then this is not needed (thus the optionality).
                    Furthermore, you could implement another RDBMS like Postgres, SQL Server, etc. <br>
                    <a href="https://dev.mysql.com/downloads/" target=_blank>MySQL Community Site</a>
                </td>
            </tr>
            <tr>
                <td>Kafka/AMQ-Streams</td>
                <td>
                    The platform is a series of decoupled components and leverages Kafka capabilities to help it move and distribute data.
                    We have tested it extensively with any version beyond Kafka 2.5 for some of the key features and enhancements they have
                    implemented upstream.
                    <u>
                        For ease of usage you can also get the latest Kafka release within the code repository, the
                        zip file is within the platform-addons directory.
                    </u>
                    <br>
                    <a href="https://kafka.apache.org/downloads" target=_blank>Apache Kafka Download Site</a><br>
                    <a href="https://access.redhat.com/products/red-hat-amq#streams" target=_blank>Red Hat AM-Q Site and Download</a>
                </td>
            </tr>
            <tr>
                <td>Java 8 SDK</td>
                <td>
                    Java is what everything is developed in. While we list JDK 8 SDK you can run a Java SDKs from
                    version 8, 11, 13,14 and 15. We have leveraged all these JDKs and been able to build, compile and run the
                    code within the community leveraging iDaaS.
                    <br>
                    We always recommend to consult upstream technologies to ensure these products
                    are certified and will run beyond a developer machine. We have also seen some tweaks needed in POM files for
                    specific Java versions.<br>
                    <a href="https://developers.redhat.com/products/openjdk/download" target=_blank>OpenJDK Download Site</a>
                </td>
            </tr>
            <tr>
                <td>Java IDE or Editor to Compile and Build</td>
                <td>
                    We always want to recommend that resources pick a code editor or IDE they are comfortable with. While this
                    is a personal decision we wanted to provide a few common ones numerous resources have used when building, implementing,
                    contributing to iDaaS. <br>
                    <a href="https://www.jetbrains.com/idea/" target=_blank>IntelliJ IDEA Site</a><br>
                    <a href="https://code.visualstudio.com/" target=_blank>Visual Studio Code Site</a><br>
                    <a href="https://www.eclipse.org" target=_blank>Eclipse Site</a><br>
                    <a href="https://developers.redhat.com/products/codeready-studio/download?extIdCarryOver=true&sc_cid=701f2000001OH7EAAW"
                       target=_blank>
                        Red Hat Developer studio Site
                    </a><br>
                </td>
            </tr>
            <tr>
                <td>Containers</td>
                <td>
                    In order to showcase the containers aspect of our capabilities,  and since this is running on a developer desktop we 
                    want to ensure we provide some recommendations in line with what other contriubutors and developers use. <br>
                    <a href="https://www.docker.com/products/docker-desktop" target=_blank>Docker Desktop Site</a><br>
                    <a href="https://developers.redhat.com/products/codeready-containers/overview" target=_blank>Code Ready Container Site</a><br>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="text-center">
        <h4 class="display-6">Running iDaaS Code</h4>
        <p>
        <div align="left">
            After meeting all the pre-requisites and ensuring that each product works independently it is now time to put them all together
            and clone the code you would like, then build it and then run it.
            <ol>
                <li>Make sure pre-requisites are met</li>
                <li>
                    Pull in the needed <a href="https://github.com/RedHat-Healthcare/" target=_blank>repositories</a> or the latest compiled jars from the specific Git Hub site. You can
                    find the latest <a href="/gettingstarted/PlatformComponents">repositories</a>. It is importsnt to know that ANY code
                    repository you clone and work with could take some time as the required supporting software will be downloaded from
                    Maven repositories.
                </li>
                <li>
                    Start AMQ-Streams, there are scripts setup in the scripts directory named start-kafka.sh.
                    The script should need some enhancements based on directory
                    where the technology was unzipped to.
                </li>
                <li>Build the software, the scripts to build are contained within the platform-scripts directory. The script is named build-solution.sh</li>
                <li>Run the built code by using the java command line java -jar jarfilename.jar </li>
            </ol>
            <br/>
            Happy using and coding!!!!
            <br/>
        </div>
    </div>
</div>