@{
    ViewData["Title"] = "Connected Health / iDaaS Use Cases";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connected Health / iDaaS (Intelligent Data As A Service) - Common Use Cases</title>
</head>
<body>
@*<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>*@
<div class="text-center">
    <h4 class="display-6">Connected Health / iDaaS (Intelligent Data as A Service) - Common Use Cases</h4>
    <br/>
    <p>
        <div align="left">
            Because <b>"Data is the asset!!!"</b> iDaaS is about enabling information for knowledge that can be used for action
            in a secure and scalable manner. iDaaS is a powerful healthcare industry design pattern/framework that is a blue print for 
            connecting, processing and leveraging clinical, financial and life sciences data at scale to build solutions for today and 
            tomorrow in a consistent manner. 
            <br/><br/>
            The Following are very common use cases and within it includes references to all the relevant repositories needed to 
            get up and running and processing data. The average time for most to start leveragimg the platform is about 40 minutes 
            with the first time configuration of AMQ-Streams (Kafka) and validating connection settings taking a majority of the time.
            <br/> <br/>
        </div>
    </p>
</div>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          HL7 Version 2 Messaging
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        If you need to support HL7 Processing than here are the following repositories required and needed.
        <br/>
        <div align="left">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Capability</th>
                        <th scope="col">Component</th>
                        <th scope="col">Component Desc.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Receiving </td>
                        <td><a href="https://github.com/RedHat-Healthcare/iDaaS-Connect-HL7" target="_blank"> iDaaS Connect Clinical - HL7</a></td>
                        <td>
                            This iDaaS Connect accelerator specifically and ONLY supports the clinical integration standards of HL7.  From an integration connectivity and standards
                            perspective it has HL7 MLLP Servers that support the following types from any vendor and any specific message
                            version from 2.1 to 2.8: ADT (Admissions), ORM (Orders), ORU (Results), SCH (Schedules), PHA (Pharmacy), MFN (Master File Notifications),
                            MDM (Medical Document Management) and VXU (Vaccinations).  This accelerator apart from handling the needed specific connectivity also does a
                            minimal initial routing of data and has complete auditing integrated.
                        </td>
                    </tr>
                    <tr>
                        <td>Routing</td>
                        <td><a href="https://github.com/RedHat-Healthcare/iDaaS-Connect-DataDistribution" target="_blank">iDaaS Connect Data Distribution</a></td>
                        <td>
                            This iDaaS Connect accelerator is specifically implemented to help keep the iDaaS Connect (HL7 and FHIR) accelerators focus solely on connectivity,  simplified initial data processing needs and auditing.
                            It is also capable and intended to be used by the iDaaS Connect Third Party accelerator as well. It purpose is to route and move data, it does this by implementing an enterprise integration pattern named HCDD-EIP (Healthcare Data Distribution and Enterprise Integration Pattern). This accelerator 
                            apart from handling the needed specific connectivity with detailed routing logic built in and complete auditing integrated.
                        </td>
                    </tr>
                    <tr>
                        <td>Run (Transform and Re-Shape Data)</td>
                        <td><a href="https://github.com/RedHat-Healthcare/iDaaS-EventBuilder/" target="_blank">Event Builder</a></td>
                        <td>
                            This component is what enables Red Hat, partners, SIs and developers to develop, extend or enhance the platform's ability to process data into any type of needed custom
                            format for any type of needed processing. iDaaS Event Builder is designed to call out and invoke needed events and can be customized based on business needs very quickly.
                            The only thing past cloning the source code is setting up the appropriate way to include iDaaS Event Builder jar files so that it can be included. If you do not wish to leverage the
                            existing code, enhance or extend it developers are able to add their own custom code for processing and object building.
                        </td>
                    </tr>
                    <tr>
                        <td>Run</td>
                        <td><a href="https://github.com/RedHat-Healthcare/iDaaS-DREAM/" target="_blank">iDaaS DREAM (Data Runtime Enterprise Automated Mgmt)</a></td>
                        <td>
                            DREAM's design intent is to enable Red Hat, partners, SIs and developers to implement iDaaS and/or other capabilities internal or external to iDaaS in a dynamic manner
                            without the need for stopping the platform and needing to restart it to work with data while adding new features.
                        </td>
                    </tr>
                    <tr>
                        <td>Research and Resolve</td>
                        <td><a href="https://github.com/RedHat-Healthcare/iDaaS-DataHub" target="_blank">iDaaS Data Hub</a></td>
                        <td>
                            iDaaS Data Hub is where audit and other related data for the platform is stored. Like the rest of iDaaS it is intended to be extensible. iDaaS Data Hub is a platform to enable processing of
                            data into the various components and data models included. The key things Data Hub is meant to ensure resources have data driven insights from ANY activity the iDaaS
                            platform will do. A key thing to note in the data model and events the system focuses on is a way to associate one organization to many healthcare entities and to many 
                            applications and within each application any components wished to be defined. This is ALL up to the implementation. Because of this data 
                            enablement iDaaS focuses on enabling a detailed eventing model to iDaaS Data Hub for any activities the system does, this specifically is 
                            done through a transaction event which has a rich set of data attributes to enable detailed insight.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
      </div>
    </div>
  </div>
  <!-- Card 2 -->
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            FHIR Resource Processing
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
       <br/>
               <h4 class="display-6">Required</h4>
               <div align="left">
                       <table class="table table-striped">
                           <thead class="thead-dark">
                           <tr>
                               <th scope="col">Capability</th>
                               <th scope="col">Component</th>
                               <th scope="col">Component Desc.</th>
                           </tr>
                           </thead>
                           <tbody>
                           <tr>
                               <td>Receiving </td>
                               <td><a href="https://github.com/RedHat-Healthcare/iDaaS-Connect-FHIR" target="_blank"> iDaaS Connect Clinical - FHIR</a></td>
                               <td>
                                   This iDaaS Connect accelerator specifically and ONLY  supports ALL FHIR resources.  From an integration perspective it enables processing of
                                   over 60+ specific <a href="https://www.hl7.org/fhir/STU3/resourcelist.html" target="_blank">FHIR resources</a> that span base, clinical, financial (all),
                                   specialized (all but testing). Another benefit of this platform is that you DO NOT require a FHIR server for this be leveraged. However,  It has been tested to
                                   work with several FHIR servers: HAPI JPA Server, Microsoft Azure FHIR Server and IBM FHIR Server. This accelerator apart from handling the needed specific connectivity also does a
                                   minimal initial routing of data and has complete auditing integrated.
                               </td>
                           </tr>
                           <tr>
                               <td>Routing</td>
                               <td><a href="https://github.com/RedHat-Healthcare/iDaaS-Connect-DataDistribution" target="_blank">iDaaS Connect Data Distribution</a></td>
                               <td>
                                   This iDaaS Connect accelerator is specifically implemented to help keep the iDaaS Connect (HL7 and FHIR) accelerators focus solely on connectivity,  simplified initial data processing needs and auditing.
                                   It is also capable and intended to be used by the iDaaS Connect Third Party accelerator as well. It purpose is to route and move data, it does this by implementing an enterprise integration pattern named HCDD-EIP (Healthcare Data Distribution and Enterprise Integration Pattern). This accelerator 
                                   apart from handling the needed specific connectivity with detailed routing logic built in and complete auditing integrated.
                               </td>
                           </tr>
                           <tr>
                               <td>Run (Transform and Re-Shape Data)</td>
                               <td><a href="https://github.com/RedHat-Healthcare/iDaaS-EventBuilder/" target="_blank">Event Builder</a></td>
                               <td>
                                   This component is what enables Red Hat, partners, SIs and developers to develop, extend or enhance the platform's ability to process data into any type of needed custom
                                   format for any type of needed processing. iDaaS Event Builder is designed to call out and invoke needed events and can be customized based on business needs very quickly.
                                   The only thing past cloning the source code is setting up the appropriate way to include iDaaS Event Builder jar files so that it can be included. If you do not wish to leverage the
                                   existing code, enhance or extend it developers are able to add their own custom code for processing and object building.
                               </td>
                           </tr>
                           <tr>
                               <td>Run</td>
                               <td><a href="https://github.com/RedHat-Healthcare/iDaaS-DREAM/" target="_blank">iDaaS DREAM (Data Runtime Enterprise Automated Mgmt)</a></td>
                               <td>
                                   DREAM's design intent is to enable Red Hat, partners, SIs and developers to implement iDaaS and/or other capabilities internal or external to iDaaS in a dynamic manner
                                   without the need for stopping the platform and needing to restart it to work with data while adding new features.
                               </td>
                           </tr>
                           <tr>
                               <td>Research and Resolve</td>
                               <td><a href="https://github.com/RedHat-Healthcare/iDaaS-DataHub" target="_blank">iDaaS Data Hub</a></td>
                               <td>
                                   iDaaS Data Hub is where audit and other related data for the platform is stored. Like the rest of iDaaS it is intended to be extensible. iDaaS Data Hub is a platform to enable processing of
                                   data into the various components and data models included. The key things Data Hub is meant to ensure resources have data driven insights from ANY activity the iDaaS
                                   platform will do. A key thing to note in the data model and events the system focuses on is a way to associate one organization to many healthcare entities and to many 
                                   applications and within each application any components wished to be defined. This is ALL up to the implementation. Because of this data 
                                   enablement iDaaS focuses on enabling a detailed eventing model to iDaaS Data Hub for any activities the system does, this specifically is 
                                   done through a transaction event which has a rich set of data attributes to enable detailed insight.
                               </td>
                           </tr>
                           </tbody>
                       </table>
                   </div>
                </div>
            </div>
        </div>
  <!-- Card 3 -->
<div class="card">
    <div class="card-header" id="headingThree">
        <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Third Party Processing
            </button>
        </h5>
    </div>
<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
    <div class="card-body">
        <br/>
        <div align="left">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Capability</th>
                    <th scope="col">Component</th>
                    <th scope="col">Component Desc.</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Receiving </td>
                    <td><a href="https://github.com/RedHat-Healthcare/iDaaS-Connect-ThirdParty" target="_blank">iDaaS Connect - Third Party</a></td>
                    <td>
                        This iDaaS Connect accelerator is specifically designed to receive data from several dozens connectors. The connectors include JDBC (any jdbc compliant data source with a jar),
                        Kafka, FTP/sFTP and sFTP, AS400, HTTP(s), REST and many more.  Since this accelerator is built atop the upstream of Apache Camel this accelerator can
                        leverage any <a href="https://camel.apache.org/components/latest/index.html" target="_blank">supported components</a>. This accelerator apart from handling the needed specific connectivity also does a
                        minimal initial routing of data and has complete auditing integrated.
                    </td>
                </tr>
                <tr>
                    <td>Routing</td>
                    <td><a href="https://github.com/RedHat-Healthcare/iDaaS-Connect-DataDistribution" target="_blank">iDaaS Connect Data Distribution</a></td>
                    <td>
                        This iDaaS Connect accelerator is specifically implemented to help keep the iDaaS Connect (HL7 and FHIR) accelerators focus solely on connectivity,  simplified initial data processing needs and auditing.
                        It is also capable and intended to be used by the iDaaS Connect Third Party accelerator as well. It purpose is to route and move data, it does this by implementing an enterprise integration pattern named HCDD-EIP (Healthcare Data Distribution and Enterprise Integration Pattern). This accelerator 
                        apart from handling the needed specific connectivity with detailed routing logic built in and complete auditing integrated.
                    </td>
                </tr>
                <tr>
                    <td>Run (Transform and Re-Shape Data)</td>
                    <td><a href="https://github.com/RedHat-Healthcare/iDaaS-EventBuilder/" target="_blank">Event Builder</a></td>
                    <td>
                        This component is what enables Red Hat, partners, SIs and developers to develop, extend or enhance the platform's ability to process data into any type of needed custom
                        format for any type of needed processing. iDaaS Event Builder is designed to call out and invoke needed events and can be customized based on business needs very quickly.
                        The only thing past cloning the source code is setting up the appropriate way to include iDaaS Event Builder jar files so that it can be included. If you do not wish to leverage the
                        existing code, enhance or extend it developers are able to add their own custom code for processing and object building.
                    </td>
                </tr>
                <tr>
                    <td>Run</td>
                    <td><a href="https://github.com/RedHat-Healthcare/iDaaS-DREAM/" target="_blank">iDaaS DREAM (Data Runtime Enterprise Automated Mgmt)</a></td>
                    <td>
                        DREAM's design intent is to enable Red Hat, partners, SIs and developers to implement iDaaS and/or other capabilities internal or external to iDaaS in a dynamic manner
                        without the need for stopping the platform and needing to restart it to work with data while adding new features.
                    </td>
                </tr>
                <tr>
                    <td>Research and Resolve</td>
                    <td><a href="https://github.com/RedHat-Healthcare/iDaaS-DataHub" target="_blank">iDaaS Data Hub</a></td>
                    <td>
                        iDaaS Data Hub is where audit and other related data for the platform is stored. Like the rest of iDaaS it is intended to be extensible. iDaaS Data Hub is a platform to enable processing of
                        data into the various components and data models included. The key things Data Hub is meant to ensure resources have data driven insights from ANY activity the iDaaS
                        platform will do. A key thing to note in the data model and events the system focuses on is a way to associate one organization to many healthcare entities and to many 
                        applications and within each application any components wished to be defined. This is ALL up to the implementation. Because of this data 
                        enablement iDaaS focuses on enabling a detailed eventing model to iDaaS Data Hub for any activities the system does, this specifically is 
                        done through a transaction event which has a rich set of data attributes to enable detailed insight.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
    <!--  Card 4 -->
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    EDI Processing
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
                <br/>
                <div align="left">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Capability</th>
                            <th scope="col">Component</th>
                            <th scope="col">Component Desc.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Receiving </td>
                            <td><a href="https://github.com/RedHat-Healthcare/iDaaS-Connect-ThirdParty" target="_blank">iDaaS Connect - Third Party</a></td>
                            <td>
                                This iDaaS Connect accelerator is specifically designed to receive data from several dozens connectors. The connectors include JDBC (any jdbc compliant data source with a jar),
                                Kafka, FTP/sFTP and sFTP, AS400, HTTP(s), REST and many more.  Since this accelerator is built atop the upstream of Apache Camel this accelerator can
                                leverage any <a href="https://camel.apache.org/components/latest/index.html" target="_blank">supported components</a>. This accelerator apart from handling the needed specific connectivity also does a
                                minimal initial routing of data and has complete auditing integrated.
                            </td>
                        </tr>
                        <tr>
                            <td>Routing</td>
                            <td><a href="https://github.com/RedHat-Healthcare/iDaaS-Connect-DataDistribution" target="_blank">iDaaS Connect Data Distribution</a></td>
                            <td>
                                This iDaaS Connect accelerator is specifically implemented to help keep the iDaaS Connect (HL7 and FHIR) accelerators focus solely on connectivity,  simplified initial data processing needs and auditing.
                                It is also capable and intended to be used by the iDaaS Connect Third Party accelerator as well. It purpose is to route and move data, it does this by implementing an enterprise integration pattern named HCDD-EIP (Healthcare Data Distribution and Enterprise Integration Pattern). This accelerator 
                                apart from handling the needed specific connectivity with detailed routing logic built in and complete auditing integrated.
                            </td>
                        </tr>
                        <tr>
                            <td>Run (Transform and Re-Shape Data)</td>
                            <td><a href="https://github.com/RedHat-Healthcare/iDaaS-EventBuilder/" target="_blank">Event Builder</a></td>
                            <td>
                                This component is what enables Red Hat, partners, SIs and developers to develop, extend or enhance the platform's ability to process data into any type of needed custom
                                format for any type of needed processing. iDaaS Event Builder is designed to call out and invoke needed events and can be customized based on business needs very quickly.
                                The only thing past cloning the source code is setting up the appropriate way to include iDaaS Event Builder jar files so that it can be included. If you do not wish to leverage the
                                existing code, enhance or extend it developers are able to add their own custom code for processing and object building.
                            </td>
                        </tr>
                        <tr>
                            <td>Research and Resolve</td>
                            <td><a href="https://github.com/RedHat-Healthcare/iDaaS-DataHub" target="_blank">iDaaS Data Hub</a></td>
                            <td>
                                iDaaS Data Hub is where audit and other related data for the platform is stored. Like the rest of iDaaS it is intended to be extensible. iDaaS Data Hub is a platform to enable processing of
                                data into the various components and data models included. The key things Data Hub is meant to ensure resources have data driven insights from ANY activity the iDaaS
                                platform will do. A key thing to note in the data model and events the system focuses on is a way to associate one organization to many healthcare entities and to many 
                                applications and within each application any components wished to be defined. This is ALL up to the implementation. Because of this data 
                                enablement iDaaS focuses on enabling a detailed eventing model to iDaaS Data Hub for any activities the system does, this specifically is 
                                done through a transaction event which has a rich set of data attributes to enable detailed insight.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!--  Card 4 -->
    <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
             ePrescribe Processing
            </button>
          </h5>
        </div>
       <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
                <br/>
                <div align="left">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Capability</th>
                            <th scope="col">Component</th>
                            <th scope="col">Component Desc.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Receiving </td>
                            <td><a href="https://github.com/RedHat-Healthcare/iDaaS-Connect-ThirdParty" target="_blank">iDaaS Connect - Third Party</a></td>
                            <td>
                                This iDaaS Connect accelerator is specifically designed to receive data from several dozens connectors. The connectors include JDBC (any jdbc compliant data source with a jar),
                                Kafka, FTP/sFTP and sFTP, AS400, HTTP(s), REST and many more.  Since this accelerator is built atop the upstream of Apache Camel this accelerator can
                                leverage any <a href="https://camel.apache.org/components/latest/index.html" target="_blank">supported components</a>. This accelerator apart from handling the needed specific connectivity also does a
                                minimal initial routing of data and has complete auditing integrated.
                            </td>
                        </tr>
                        <tr>
                            <td>Routing</td>
                            <td><a href="https://github.com/RedHat-Healthcare/iDaaS-Connect-DataDistribution" target="_blank">iDaaS Connect Data Distribution</a></td>
                            <td>
                                This iDaaS Connect accelerator is specifically implemented to help keep the iDaaS Connect (HL7 and FHIR) accelerators focus solely on connectivity,  simplified initial data processing needs and auditing.
                                It is also capable and intended to be used by the iDaaS Connect Third Party accelerator as well. It purpose is to route and move data, it does this by implementing an enterprise integration pattern named HCDD-EIP (Healthcare Data Distribution and Enterprise Integration Pattern). This accelerator 
                                apart from handling the needed specific connectivity with detailed routing logic built in and complete auditing integrated.
                            </td>
                        </tr>
                        <tr>
                            <td>Run (Transform and Re-Shape Data)</td>
                            <td><a href="https://github.com/RedHat-Healthcare/iDaaS-EventBuilder/" target="_blank">Event Builder</a></td>
                            <td>
                                This component is what enables Red Hat, partners, SIs and developers to develop, extend or enhance the platform's ability to process data into any type of needed custom
                                format for any type of needed processing. iDaaS Event Builder is designed to call out and invoke needed events and can be customized based on business needs very quickly.
                                The only thing past cloning the source code is setting up the appropriate way to include iDaaS Event Builder jar files so that it can be included. If you do not wish to leverage the
                                existing code, enhance or extend it developers are able to add their own custom code for processing and object building.
                            </td>
                        </tr>
                        <tr>
                            <td>Research and Resolve</td>
                            <td><a href="https://github.com/RedHat-Healthcare/iDaaS-DataHub" target="_blank">iDaaS Data Hub</a></td>
                            <td>
                                iDaaS Data Hub is where audit and other related data for the platform is stored. Like the rest of iDaaS it is intended to be extensible. iDaaS Data Hub is a platform to enable processing of
                                data into the various components and data models included. The key things Data Hub is meant to ensure resources have data driven insights from ANY activity the iDaaS
                                platform will do. A key thing to note in the data model and events the system focuses on is a way to associate one organization to many healthcare entities and to many 
                                applications and within each application any components wished to be defined. This is ALL up to the implementation. Because of this data 
                                enablement iDaaS focuses on enabling a detailed eventing model to iDaaS Data Hub for any activities the system does, this specifically is 
                                done through a transaction event which has a rich set of data attributes to enable detailed insight.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
  </div>  
</div>

</body>
</html>