@{
    ViewData["Title"] = "Connected Health / iDaaS Content Content";
}

<div class="text-center">
    <h4 class="display-6">Content</h4>
    <br/>
    <p>
        <div align="left">
            Here is some shareable content and resources.
        </div>
    </p>
</div>

<div class="text-center">
    <h4 class="display-6">Area:  Published Videos</h4>
    <p align="left">
    <div align="left">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Content Desc.</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="https://www.screencast.com/t/IwuZyQSl" target="_blank">Git Hub 101  - Red Hat Healthcare Git Hub Org</a>
                </td>
                <td>A general high level overview of the Read Hat Healthcare Git Hub organization.</td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.screencast.com/t/vXqbUfLLYV" target="_blank">GitHub 201  - Deeper Dive on Repository </a>
                </td>
                <td>A general deeper dive of the structure of a iDaaS repository and its general directory structure</td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.screencast.com/t/M0finV8ltiv" target="_blank">What is  iDaaS </a>
                </td>
                <td>A general overview of iDaaS </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h4 class="display-6">Area: Web Pages - Internal and External</h4>
    <p align="left">
    <div align="left">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Content Desc.</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td
                ><a href="~/publishedContent/BuildingLinuxDevMachine" target="_blank">Dev Machine Content</a>
                </td>
                <td>Building A Developer Machine</td>
                <td>Building a Linux/CentOS Development Machine for use with iDaaS</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>